
.pagesBlock {
  display: flex;
  font-display: row;
  justify-content: space-between;
  align-items: center;
  /* height: 50px; */
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  box-shadow: 0px 1px 15px 0px rgb(51 51 51 / 20%);
  background-color: white;
}

.pageButton {
  /* position: relative; */
  
  padding: 15px;
  width: 40px !important;
  height: 100%;
  background: transparent;
  width: 100%;
  /* border: 1px solid orange; */
  height: 100%;
  background-color: white;
  
}

.pageButton:hover {
  cursor: pointer;
  /* background-color: #eee; */
  /* transform: scaleY(1.2); */
  /* top: -3px; */
}
