
.card {
  min-height: 100px;
  background-color: white;
  color: #333;
  margin-bottom: 30px;
  padding: 25px;
  font-size: 14px;
  line-height: 20px;
  box-shadow: 0px 1px 15px 0px rgb(51 51 51 / 20%);
  position: relative;
}

.item {
  display: flex;
  position: relative;
  margin-top: 25px;
}

.item2 {
  align-items: center;
}

.card h4 {
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: 700;
}

.card h4::after {
  content: "";
  height: 1px;
  width: 30px;
  background-color: #dc4734;
  position: absolute;
  top: 55px;
  left: 25px;
}

.item .img{
  height: 35px;
  width: 35px;
  border-radius: 100%;
  margin-right: 10px;
  cursor: pointer;
}

.heart {
  position: absolute;
  right: 0;
  background-image: url("https://htmldemo.hasthemes.com/adda/adda/assets/images/icons/heart.png");
  min-width: 21px;
  min-height: 19px;
  filter: invert() opacity(25%);
  transition: cubic-bezier(1, 0, 0, 0) 1s;
}

.heart:hover {
  background-image: url("https://htmldemo.hasthemes.com/adda/adda/assets/images/icons/heart-color.png");
  filter: none;
  transition: none;
}


.title {
  font-weight: bold;
}

.subtitle {
  font-size: 12px;
  text-transform: capitalize;
  color: #666;
}

