.profile {
    grid-area: wall;
    margin: auto;
    /* background-color:rgb(185, 243, 185); */
    line-height: 22px;
}

.formWrap {
    /* border: 1px solid gray; */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0px 1px 15px 0px rgb(51 51 51 / 20%);
}

.formWrap img{
    border-radius: 1000px;
    margin-right: 15px;
    
}

.form {
    display: flex;
    flex-direction: row;
    border-radius: 1000px;
    overflow: hidden;
    height: 45px;
    width: 100%;
    padding: 5px;
    box-shadow: inset 0px 1px 10px 0px rgb(85 85 85 / 20%);
    background-color: #f1f1f1;
    
}

.form * {
    border: none;
    background-color: transparent;
}

.form .input{
    width: 100%;
    border-radius: 100px;
    padding: 15px;
    color: gray;
}

.form .input:focus-visible {
    border: none;
    outline: none;
    border-style: none;
}

.form button {
    width: 100px;
    border-radius: 100px;
    background-color: #dc4734;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

.form button:hover {
    background-color:#333;
    cursor: pointer;
}

.posts{
    display: flex;
    flex-direction: column;
}

