a {
  text-decoration: none;
  color: black  ;
}

*,::before,::after {
  box-sizing: border-box;
  transition: 0.4s;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.App {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  background-color: #f1f1f1;
  width: 100vw;
}

.app-wrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
  "lsb wall rsb" 
  "foot foot foot";
  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: 1fr auto;
  width: 1150px;
  gap: 30px;
  min-height: 100vh;
  margin: 80px auto 0;
}

.headerWrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  box-shadow: 0px 1px 15px 0px rgb(51 51 51 / 20%);
  background-color: #fff;
}

.header {
  padding: 15px 0;
  width: 1150px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* text-align: center; */
  position: relative;
}

.header a:last-child {
  position: absolute;
  text-align: end;
  right: 0;
}

.header a:first-child { color: #cc3724;}

.header a {
  width: 15%;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
}


.header a:hover {
  color: #cc3724;
}

.left-side-bar {
  grid-area: lsb;
  /* width: 250px; */
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
}

.right-side-bar {
  grid-area: rsb;
  /* width: 250px; */
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
}

.ad img{
  margin: auto;
}

.App-link {
  color: #61dafb;
}